RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

AuthType Basic
AuthName "Private Archive"
AuthUserFile /path/to/.htpasswd
Require valid-user

<FilesMatch "^\.ht">
    Require all denied
</FilesMatch>
